/* Full screen */
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: black;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Panel base style */
.panel {
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, -0.65);
  color: white;
  padding: 12px 14px;
  border-radius: 10px;
  font-size: 13px;
  line-height: 1.5;
  min-width: 180px;

  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Positions */
.top-left {
  top: 15px;
  left: 25px;
}

.top-right {
  top: 15px;
  right: 15px;
}

.bottom-left {
  bottom: 25px;
  left: 25px;
}

.bottom-right {
  bottom: 25px;
  right: 15px;
}